.idea
node_modules
*.tgz

# ignore generated directories in demos
**/.angular
**/android
**/ios

# ignore coverage folder
coverage
.nyc_output

# makes bun optional
bun.lockb

# ignore final build files
lib